html {
  --color-blue-400: linear-gradient(45deg, #1d256f, #3e4095);
  --color-white-100: rgb(249, 234, 234);
  --color-grey-200: rgb(205, 199, 199);
  --color-red-400: #ff1616;
}

header {
  width: 100%;
  height: 5.65rem;
  background: var(--color-blue-400);
}

header img {
  width: 27rem;
  height: 5.65rem;
}

header ul {
  list-style: none;
  display: flex;
  position: relative;
  bottom: 6rem;
  padding-left: 31rem;
  font-size: 1rem;
  text-align: center;
}

.nav-items {
  font-size: 1rem;
  padding: 1.25rem;
  margin: 0;
  font-family: hammersmith one;
  color: var(--color-grey-200);
}

main {
  margin: 20px;
}

#hero {
  background-image: url(images/background\ image.jpg);
  height: 25rem;
  width: 103.5%;
  background-position: center;
  background-size: cover;
  text-align: center;
  position: relative;
  top: -80px;
  left: -20px;
}

#hero-content {
  background-color: rgba(51, 47, 47, 0.8);
  width: 30rem;
  border-radius: 5px;
  position: relative;
  top: 5.5rem;
  margin: 80px auto; 
  padding: 1.8rem 0;
}

#hero-content h1 {
  text-transform: uppercase;
  font-family: ubuntu;
  color: var(--color-white-100);
  margin-top: 0.3rem;
  font-size: 1.5rem;
}

#hero-content p {
  margin-bottom: 1.87rem;
}

#hero-content a {
  font-family: hammersmith one;
  text-decoration: none;
  padding: 0.31rem 0.37rem;
  color: var(--color-white-100);
  background-color: #ff1616;
  border-radius: 5px;
  display: inline-block;
}

#hero-content a:hover {
  background: #ff0000;
  transform: scale(1.03);
}

h1 {
  font-family: ubuntu;
}

p {
  font-family: hammersmith one;
}

#diferencial-container {
  background: var(--color-blue-400);
  position: relative;
  width: 98.5%;
  left: -1.25rem;
  top: -6.1rem;
  padding: 1.87rem;
}

#diferencial-container h2 {
  font-family: ubuntu;
  color: var(--color-red-400);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.diferencial-icons {
  display: flex;
  flex-direction: row;
  padding-right: 2.5rem;
  justify-content: space-evenly;
}

.icon {
  width: 2.5rem;
  color: rgb(217, 214, 214);
}

#diferencial-container ul {
  font-family: hammersmith one;
  color: var(--color-grey-200);
  list-style: none;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding-left: 4.6rem;
}

.diferencial {
  width: 12.5rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
}

footer {
  background-image: url(images/background\ image.jpg);
  height: 15rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-top: -7.5rem;
}

footer h2 {
  padding-top: 2.8rem;
  text-align: center;
  font-family: Ubuntu;
  text-transform: uppercase;
  color: var(--color-red-400);
}

footer img {
  width: 3.1rem;
  padding: 1.87rem;
}

#footer-images {
  display: flex;
  position:relative;
  flex-direction: row;
  justify-content: center;
}

footer a:hover {
  display:inline-block;
  transform:scale(1.1);
}
